<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'portfolio.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-header">
      <h2>My Work </h2>
      <p>A showcase of my projects and contributions in web development.</p>
      <%=button_to 'Add-Work', new_portfolio_path, class: "add-work-btn", method: :get%>
    </div>
    <div class="portfolio-content">
      <%if @portfolios.present?%>
        <%  @portfolios.each do |portfolio|%>
          <%= link_to portfolio_path(portfolio), class: 'portfolio-link' do %>
            <div class="portfolio-item">
              <% images_folder_path = Rails.root.join(Portfolio.images_folder_path, portfolio.id.to_s) %>
              <% if Dir.exist?(images_folder_path) %>
                <% Dir.foreach(images_folder_path) do |filename| %>
                  <% next if filename == '.' || filename == '..' %>
                  <% file_path = File.join(Portfolio.images_folder_relative_path, portfolio.id.to_s, filename) %>
                  <%= image_tag file_path, alt: "Project 1" %>
                  <% break %>
                <% end %>
              <%else%>
                <%= image_tag 'portfolio_image1', alt: "Project 1" %>
              <% end %>
              <h3><%= portfolio.title %></h3>
              <p class='description'><%= portfolio.description %></p>
              <p><b>Technologies used:</b> <%= portfolio.technologies_used %></p>
            </div>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>
</section>